.dropdown-custom-1 {
    background-color: #89BBFE;
    color: #263C68;
    border: none; 
    font-weight: bold; 
    padding: 10px 20px;
    font-size: 1.2vw;
    
}

@media (max-width: 768px) {
    .dropdown-custom-1 {
        font-size: 16px; /* Set a fallback font size for smaller screens */
    }
}

