.feature-list { 
    width: 600px;
    margin-left: 1060px;
    margin-top: -820px;
}

.list-item {
    color: #89BBFE;
}

p {
    

}
.pls {
    margin-left: 1060px;
    max-width: 300px;
    font-size: 20px;
    margin-top: 20px;
}


