.FeatureList {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.feature-list { 
    max-width: 600px;
    padding-left: 0;
    margin-left: 0;
}

.feature-icon {
    width: 50px; /* Adjust to your desired width */
    height: 50px; /* Adjust to your desired height */
}

.feature-list-container {
    border: none; /* Remove border from the list container */
}

.list-item {
    color: #89BBFE;
}

.contribute-button {
    background-color: #89BBFE;
    color: #263C68;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

.pls {
    max-width: 600px;
    font-size: 25px;
    margin-top: 60px;
    margin-left: 8%;
    margin-right: 6%;
}

@media (max-width: 768px) {
    .FeatureList {
      padding: 0 20px; /* Adjust padding for smaller screens */
    }
  
    .feature-list {
      max-width: 100%; /* Set max-width to 100% for smaller screens */
    }
  }
