.contribute-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: rgb(38, 60, 104);
}

.con-title {
    margin-top: 295px;
}

.drop-down-btn3 {
    display: flex; 
    padding-right: 30px;
    padding-top:20px; 

}

.drop-down-btn4 {
    display: flex; 
    padding-top:20px;
}

.dropdown-container2 {
    display: flex; 
    flex-direction: row;
    margin-left: 480px;
}


