.homepage-img {
    margin-top: 150px;
    margin-right: 150px;
    border-radius: 25px;
}

.welcome-msg {
    margin-top: 40px;
    margin-left: 38px;
    font-size: 35px;
    font-weight: bold;
}

.text-end {
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
}
