.homepage-intro {
    display: flex;
    flex-direction: row;
}

.homepage-title {
    flex: 1;
    margin-top: 150px;
    align-items: center;
    margin-left: 150px;
}

.drop-down-btn1 {
    flex: 1;
    display:inline-block;
    padding-top:20px;
}

.drop-down-btn2 {
    flex: 1;
    display:inline-block;
    padding-top:20px;
    padding-left: 15px;
}

.dropdown-container {
    display: flex; 
    flex-direction: row;
}


