.homepage-intro {
    display: flex;
    flex-direction: row;
}

.homepage-title {
    flex: 1;
    margin-top: 185px;
    align-items: center;
    margin-left: 250px;
}

.homepage-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
