body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: static;
    background-color: none;
    width: 100%;
}

.all-nav-button {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 15px;
    justify-content: center;
    align-items: center;
}


.title {
    margin-right: auto;
    margin-left: 110px;
    color: rgb(38, 60, 104);
    font-size: x-large;
    font-weight: bolder;
}

.title a {
    text-decoration: none;
    color: #4E87D5;
}

.title a:hover {
    color: rgb(38, 60, 104);
}

.nav-button {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-button a {
    border: none; 
    background: none; 
    cursor: pointer; 
    padding: 20px 12px; /* Set padding for the button */
    font-weight: bold;
    font-size: larger;
    color: rgb(38, 60, 104);
    text-decoration: none;
    border-bottom: 5px solid transparent;
}

.nav-button a:hover {
    border-bottom-color: #74A8EF;
    color: #74A8EF;
}

li {
    margin-left: 160px; /* Add spacing between menu items */
    margin-right: auto;
}




