.MapView {
    max-width: 100%;
}

.mapView {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the flex container vertically */
    max-width: 80%;
    margin-top: 50px;
    margin-left: 150px;
}

.mapContainer {
    flex: 1; /* This will make the map container take up the available space */
}

.list {
    max-width: 50%;
    margin-left: 20px; /* Adjust the margin as needed */
}

.display {
    font-size: 2vw;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: left;
    margin-top: 2%;
    margin-left: 3%;
}

.drop-down-btn1,
.drop-down-btn2 {
    margin-left: 20%; /* Adjust the vertical spacing between the buttons */
}