.navbar {
    top: 0; 
}

.mapView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mapContainer { /* This will make the map container take up the available space */
    margin-top: 100px; /* Move the map container closer to the top */
    margin-left:150px; /* Move the map container to the right */
    width: 800px;
}

.featureList { /* This will make the feature list container take up the available space */
     /* Move the feature list container closer to the top */
    margin-left: 700px; /* Move the feature list container to the left */
    width: 200px; 
    display:inline-block;
    width: 200px;
}