.MapView {
    max-width: 100%;
}

.mapView {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the flex container vertically */
    max-width: 80%;
    margin-top: 5px;
    margin-left: 150px;
}

.mapContainer {
    flex: 1; /* This will make the map container take up the available space */
    margin-left: 0px;
}

.list {
    max-width: 100%;
    margin-left: 20px; /* Adjust the margin as needed */
    margin-top: 40px
}

.display {
    font-size: medium;
    margin-top: 20px;
    margin-left: 30px;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: left;
    margin-top: 2%;
    margin-left: 3%px;
}

.drop-down-btn5 {
    display: flex; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top:0px; 
}
.drop-down-btn6 {
    display: flex; 
    padding-top:0px; /* Adjust the vertical spacing between the buttons */
}